{
  "openapi": "3.1.0",
  "info": {
    "title": "TMDB API",
    "version": "3"
  },
  "servers": [
    {
      "url": "https://api.themoviedb.org"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": "bearer"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/3/movie/{movie_id}": {
      "get": {
        "summary": "Details",
        "description": "Get the top level details of a movie by ID.",
        "operationId": "movie-details",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "append_to_response",
            "in": "query",
            "description": "comma separated list of endpoints within this namespace, 20 items max",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"adult\":false,\"backdrop_path\":\"/hZkgoQYus5vegHoetLkCJzb17zJ.jpg\",\"belongs_to_collection\":null,\"budget\":63000000,\"genres\":[{\"id\":18,\"name\":\"Drama\"},{\"id\":53,\"name\":\"Thriller\"},{\"id\":35,\"name\":\"Comedy\"}],\"homepage\":\"http://www.foxmovies.com/movies/fight-club\",\"id\":550,\"imdb_id\":\"tt0137523\",\"original_language\":\"en\",\"original_title\":\"Fight Club\",\"overview\":\"A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \\\"fight clubs\\\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.\",\"popularity\":61.416,\"poster_path\":\"/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg\",\"production_companies\":[{\"id\":508,\"logo_path\":\"/7cxRWzi4LsVm4Utfpr1hfARNurT.png\",\"name\":\"Regency Enterprises\",\"origin_country\":\"US\"},{\"id\":711,\"logo_path\":\"/tEiIH5QesdheJmDAqQwvtN60727.png\",\"name\":\"Fox 2000 Pictures\",\"origin_country\":\"US\"},{\"id\":20555,\"logo_path\":\"/hD8yEGUBlHOcfHYbujp71vD8gZp.png\",\"name\":\"Taurus Film\",\"origin_country\":\"DE\"},{\"id\":54051,\"logo_path\":null,\"name\":\"Atman Entertainment\",\"origin_country\":\"\"},{\"id\":54052,\"logo_path\":null,\"name\":\"Knickerbocker Films\",\"origin_country\":\"US\"},{\"id\":4700,\"logo_path\":\"/A32wmjrs9Psf4zw0uaixF0GXfxq.png\",\"name\":\"The Linson Company\",\"origin_country\":\"US\"},{\"id\":25,\"logo_path\":\"/qZCc1lty5FzX30aOCVRBLzaVmcp.png\",\"name\":\"20th Century Fox\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"release_date\":\"1999-10-15\",\"revenue\":100853753,\"runtime\":139,\"spoken_languages\":[{\"english_name\":\"English\",\"iso_639_1\":\"en\",\"name\":\"English\"}],\"status\":\"Released\",\"tagline\":\"Mischief. Mayhem. Soap.\",\"title\":\"Fight Club\",\"video\":false,\"vote_average\":8.433,\"vote_count\":26280}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "adult": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "backdrop_path": {
                      "type": "string",
                      "example": "/hZkgoQYus5vegHoetLkCJzb17zJ.jpg"
                    },
                    "belongs_to_collection": {

                    },
                    "budget": {
                      "type": "integer",
                      "example": 63000000,
                      "default": 0
                    },
                    "genres": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 18,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "Drama"
                          }
                        }
                      }
                    },
                    "homepage": {
                      "type": "string",
                      "example": "http://www.foxmovies.com/movies/fight-club"
                    },
                    "id": {
                      "type": "integer",
                      "example": 550,
                      "default": 0
                    },
                    "imdb_id": {
                      "type": "string",
                      "example": "tt0137523"
                    },
                    "original_language": {
                      "type": "string",
                      "example": "en"
                    },
                    "original_title": {
                      "type": "string",
                      "example": "Fight Club"
                    },
                    "overview": {
                      "type": "string",
                      "example": "A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \"fight clubs\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion."
                    },
                    "popularity": {
                      "type": "number",
                      "example": 61.416,
                      "default": 0
                    },
                    "poster_path": {
                      "type": "string",
                      "example": "/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"
                    },
                    "production_companies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 508,
                            "default": 0
                          },
                          "logo_path": {
                            "type": "string",
                            "example": "/7cxRWzi4LsVm4Utfpr1hfARNurT.png"
                          },
                          "name": {
                            "type": "string",
                            "example": "Regency Enterprises"
                          },
                          "origin_country": {
                            "type": "string",
                            "example": "US"
                          }
                        }
                      }
                    },
                    "production_countries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iso_3166_1": {
                            "type": "string",
                            "example": "US"
                          },
                          "name": {
                            "type": "string",
                            "example": "United States of America"
                          }
                        }
                      }
                    },
                    "release_date": {
                      "type": "string",
                      "example": "1999-10-15"
                    },
                    "revenue": {
                      "type": "integer",
                      "example": 100853753,
                      "default": 0
                    },
                    "runtime": {
                      "type": "integer",
                      "example": 139,
                      "default": 0
                    },
                    "spoken_languages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "english_name": {
                            "type": "string",
                            "example": "English"
                          },
                          "iso_639_1": {
                            "type": "string",
                            "example": "en"
                          },
                          "name": {
                            "type": "string",
                            "example": "English"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "Released"
                    },
                    "tagline": {
                      "type": "string",
                      "example": "Mischief. Mayhem. Soap."
                    },
                    "title": {
                      "type": "string",
                      "example": "Fight Club"
                    },
                    "video": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "vote_average": {
                      "type": "number",
                      "example": 8.433,
                      "default": 0
                    },
                    "vote_count": {
                      "type": "integer",
                      "example": 26280,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/movie/{movie_id}/images": {
      "get": {
        "summary": "Images",
        "description": "Get the images that belong to a movie.",
        "operationId": "movie-images",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "include_image_language",
            "in": "query",
            "description": "specify a comma separated list of ISO-639-1 values to query, for example: `en,null`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"backdrops\":[{\"aspect_ratio\":1.778,\"height\":800,\"iso_639_1\":null,\"file_path\":\"/hZkgoQYus5vegHoetLkCJzb17zJ.jpg\",\"vote_average\":5.622,\"vote_count\":20,\"width\":1422},{\"aspect_ratio\":1.778,\"height\":720,\"iso_639_1\":\"en\",\"file_path\":\"/fygeMr16EcxJiYhdiO1LEr7iHtI.jpg\",\"vote_average\":5.318,\"vote_count\":3,\"width\":1280},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":\"en\",\"file_path\":\"/b9HyPoxwxjxkWEUL5ErZdhApQe2.jpg\",\"vote_average\":5.312,\"vote_count\":1,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1440,\"iso_639_1\":null,\"file_path\":\"/c6OLXfKAk5BKeR6broC8pYiCquX.jpg\",\"vote_average\":5.292,\"vote_count\":18,\"width\":2560},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/3nv2TEz2u178xPXzdKlZdUh5uOI.jpg\",\"vote_average\":5.276,\"vote_count\":12,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/yguBaPk5V0nZCcSBthre4YFMAgk.jpg\",\"vote_average\":5.212,\"vote_count\":11,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/xRyINp9KfMLVjRiO5nCsoRDdvvF.jpg\",\"vote_average\":5.206,\"vote_count\":9,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/bsfJoKVAqFzlhvbt8AffjvYAtN4.jpg\",\"vote_average\":5.19,\"vote_count\":5,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/kpRWGjh3SsYjuF26HyRhCJJkMRk.jpg\",\"vote_average\":5.19,\"vote_count\":5,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":\"en\",\"file_path\":\"/5pxdgKVEDWDQBtvqIB2eB2oheml.jpg\",\"vote_average\":5.18,\"vote_count\":3,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":720,\"iso_639_1\":\"en\",\"file_path\":\"/yPeG1RQm5Am0eslu0IwUEJ4VXND.jpg\",\"vote_average\":5.172,\"vote_count\":1,\"width\":1280},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":\"en\",\"file_path\":\"/jAvY6IN6MIxmPM2oAtNqYK7P2gi.jpg\",\"vote_average\":5.172,\"vote_count\":1,\"width\":1920},{\"aspect_ratio\":1.777,\"height\":793,\"iso_639_1\":null,\"file_path\":\"/52AfXWuXCHn3UjD17rBruA9f5qb.jpg\",\"vote_average\":5.146,\"vote_count\":10,\"width\":1409},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/ruJPyRrHYPS071XzVGPX3peYi0x.jpg\",\"vote_average\":5.146,\"vote_count\":10,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1439,\"iso_639_1\":null,\"file_path\":\"/rr7E0NoGKxvbkb89eR1GwfoYjpA.jpg\",\"vote_average\":5.144,\"vote_count\":23,\"width\":2559},{\"aspect_ratio\":1.778,\"height\":1964,\"iso_639_1\":null,\"file_path\":\"/8iVyhmjzUbvAGppkdCZPiyEHSoF.jpg\",\"vote_average\":5.138,\"vote_count\":8,\"width\":3492},{\"aspect_ratio\":1.778,\"height\":900,\"iso_639_1\":null,\"file_path\":\"/3qFgjOYLnEUfBxt5yWRKmRRrh9w.jpg\",\"vote_average\":5.138,\"vote_count\":8,\"width\":1600},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/eZRY604RqrnT2Yxz0GwGo7tRChX.jpg\",\"vote_average\":5.128,\"vote_count\":6,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/5OjjPVk14NZRp8N5UUS6k55hbfp.jpg\",\"vote_average\":5.118,\"vote_count\":4,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":2160,\"iso_639_1\":null,\"file_path\":\"/vxqKGixpgNndTz58YbFpTlw8lpB.jpg\",\"vote_average\":5.118,\"vote_count\":4,\"width\":3840},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/nHOaLyQeV9isvyxF7mMH2TUG8IK.jpg\",\"vote_average\":5.118,\"vote_count\":4,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/rv972EWgze3DZitMMY8AEDzD9HK.jpg\",\"vote_average\":5.118,\"vote_count\":4,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":2160,\"iso_639_1\":null,\"file_path\":\"/vfEuh0ELDkHWu3UfJiEkWN8Z4tc.jpg\",\"vote_average\":5.118,\"vote_count\":4,\"width\":3840},{\"aspect_ratio\":1.776,\"height\":1172,\"iso_639_1\":null,\"file_path\":\"/2SW1FZHZw4ncy61pb8jcgrzVQVk.jpg\",\"vote_average\":5.106,\"vote_count\":2,\"width\":2082},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/1lBuRNwlqUs4BeF7UR4RuAgp2KW.jpg\",\"vote_average\":5.106,\"vote_count\":2,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/7XEtHQoy1hwa8XWaOkSv3rlteea.jpg\",\"vote_average\":5.09,\"vote_count\":11,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/yrN6gon5NG6t7Lgh05byChFSZem.jpg\",\"vote_average\":5.08,\"vote_count\":9,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":720,\"iso_639_1\":null,\"file_path\":\"/qRNDy8RLjd7WAD8GGTBmzGAFFGF.jpg\",\"vote_average\":5.044,\"vote_count\":3,\"width\":1280},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/aKSnDPpYxaalpDkla9LyIzn2bjq.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/sty6obiES7ZMkEaCWt5dthRbvHT.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/9sxsHE74N1SXYpXzUEiO3PoDvan.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/o9PU3vpXhpl13qogQ8gLL30wH2Y.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/wRxE40hwcSWSkHUnj8zGMf5tnab.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/maCmEa61kG3cIvoCwdFtEbrJThT.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/mvvVcyJwj7n8iwgPsTFUWzc9N8L.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/tOciO9nqIZn1MbnMxu5Rweayd83.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/8KEWr4K6zyF77RDIqZAeMpi2MRV.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/fSJpyCCOPblKc2GHgTi682d7mqF.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":null,\"file_path\":\"/xJC7qhzgPJXEEi4EdAxYUF1WEGf.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1920},{\"aspect_ratio\":1.778,\"height\":1152,\"iso_639_1\":\"pt\",\"file_path\":\"/rCMuTyJGT2GJzXcvWeYAVHQQRFS.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":2048},{\"aspect_ratio\":1.778,\"height\":1080,\"iso_639_1\":\"sv\",\"file_path\":\"/zSB4QpFOqQXGeugeKALCK7hoX68.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1920}],\"id\":550,\"logos\":[{\"aspect_ratio\":5.203,\"height\":79,\"iso_639_1\":\"he\",\"file_path\":\"/c1KLulrIhUqY5fT42nmC5aERGCp.png\",\"vote_average\":5.312,\"vote_count\":1,\"width\":411},{\"aspect_ratio\":8.502,\"height\":235,\"iso_639_1\":\"pt\",\"file_path\":\"/qqAcl1YIT5Sa2nx8tKQcervQCco.png\",\"vote_average\":5.312,\"vote_count\":1,\"width\":1998},{\"aspect_ratio\":4.638,\"height\":389,\"iso_639_1\":\"en\",\"file_path\":\"/7Uqhv24pGJs4Ns31NoOPWFJGWNG.png\",\"vote_average\":5.172,\"vote_count\":1,\"width\":1804},{\"aspect_ratio\":1.329,\"height\":1275,\"iso_639_1\":\"en\",\"file_path\":\"/v7JwpiYf2knmf2R2mLLvJmNxy9x.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1694},{\"aspect_ratio\":0.848,\"height\":1295,\"iso_639_1\":\"en\",\"file_path\":\"/4XkF0Rf7gvSfea8fYLFbU5tmuJw.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1098},{\"aspect_ratio\":1.5,\"height\":290,\"iso_639_1\":\"en\",\"file_path\":\"/y9dOBfqWvCdxQcwBSPT2nfXGJpi.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":435},{\"aspect_ratio\":0.861,\"height\":294,\"iso_639_1\":\"en\",\"file_path\":\"/7s3aiqRnwRUVpwtxFLrWyMITHSC.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":253},{\"aspect_ratio\":1.324,\"height\":293,\"iso_639_1\":\"es\",\"file_path\":\"/xJe4B5TVXvjldcdlwlSgJ7PtjDu.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":388},{\"aspect_ratio\":2.134,\"height\":298,\"iso_639_1\":\"es\",\"file_path\":\"/z6yka0HngU3FPjcWBc4CSxokUg0.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":636},{\"aspect_ratio\":1.29,\"height\":310,\"iso_639_1\":\"en\",\"file_path\":\"/ahnGkBeGqvUtpyfOqoWt9Cto9WR.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":400},{\"aspect_ratio\":1.34,\"height\":300,\"iso_639_1\":\"en\",\"file_path\":\"/fI7UHnoU685iz4eG7lQu7aKfxPW.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":402},{\"aspect_ratio\":1.766,\"height\":295,\"iso_639_1\":\"en\",\"file_path\":\"/hfbxs6yi35ciD6xcuGz0eeHfpm9.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":521},{\"aspect_ratio\":0.868,\"height\":296,\"iso_639_1\":\"en\",\"file_path\":\"/ofkQTAMEY6N8MSiezFMxdQtej3o.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":257},{\"aspect_ratio\":2.209,\"height\":1298,\"iso_639_1\":\"pt\",\"file_path\":\"/5TVHz85ylbxt1jTbZ2DfPsKioX0.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":2867},{\"aspect_ratio\":2.209,\"height\":1298,\"iso_639_1\":\"pt\",\"file_path\":\"/k8KZ4lH1GRNNJo6n8FZjCDTBIaL.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":2867},{\"aspect_ratio\":1.382,\"height\":296,\"iso_639_1\":\"en\",\"file_path\":\"/a3YV8Fnue6LTuSRuvnLxvEPeZxz.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":409},{\"aspect_ratio\":3.365,\"height\":233,\"iso_639_1\":\"en\",\"file_path\":\"/yDcFmXCT4XUkTujDY3p1auO8Po5.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":784},{\"aspect_ratio\":1.371,\"height\":294,\"iso_639_1\":\"en\",\"file_path\":\"/mjrGAw5IyGQIYsJaqGIyxgvnfZj.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":403},{\"aspect_ratio\":2.085,\"height\":295,\"iso_639_1\":\"ru\",\"file_path\":\"/y9RSpK5PpMYEkfdCRofBp09KpW9.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":615},{\"aspect_ratio\":1.749,\"height\":299,\"iso_639_1\":\"es\",\"file_path\":\"/tYztBlJpIClYUznEI1G0mQWxoCO.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":523},{\"aspect_ratio\":2.103,\"height\":428,\"iso_639_1\":\"ru\",\"file_path\":\"/aj0TDYImCd1bd0woML4I5t3C2Qh.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":900},{\"aspect_ratio\":1.041,\"height\":244,\"iso_639_1\":\"en\",\"file_path\":\"/40uRxnaxKNIxZPVKVMizbe76a8h.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":254},{\"aspect_ratio\":1.474,\"height\":661,\"iso_639_1\":\"he\",\"file_path\":\"/nDZdalfIZ3v7vx56zHo3HtApGqG.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":974},{\"aspect_ratio\":1.332,\"height\":244,\"iso_639_1\":\"pt\",\"file_path\":\"/l8pqQ4bwdU8IkdAvEM2PVYjqYCT.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":325},{\"aspect_ratio\":1.472,\"height\":536,\"iso_639_1\":\"ro\",\"file_path\":\"/spz7zdPaSFQPicmSdCvpIzTwsHo.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":789},{\"aspect_ratio\":2.536,\"height\":304,\"iso_639_1\":\"pl\",\"file_path\":\"/dYd6n3eOlijsiX25OV3sfHqCF10.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":771},{\"aspect_ratio\":1.297,\"height\":538,\"iso_639_1\":\"th\",\"file_path\":\"/pHsyBpUS4uz288bpZtnCmPHYxmN.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":698},{\"aspect_ratio\":7.313,\"height\":297,\"iso_639_1\":\"hu\",\"file_path\":\"/oMV5afEbMOxh1nowR1tLxFpIEhH.png\",\"vote_average\":0.0,\"vote_count\":0,\"width\":2172}],\"posters\":[{\"aspect_ratio\":0.667,\"height\":900,\"iso_639_1\":\"pt\",\"file_path\":\"/r3pPehX4ik8NLYPpbDRAh0YRtMb.jpg\",\"vote_average\":5.258,\"vote_count\":6,\"width\":600},{\"aspect_ratio\":0.667,\"height\":1350,\"iso_639_1\":\"ru\",\"file_path\":\"/66RvLrRJTm4J8l3uHXWF09AICol.jpg\",\"vote_average\":5.522,\"vote_count\":4,\"width\":900},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"en\",\"file_path\":\"/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg\",\"vote_average\":5.504,\"vote_count\":46,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"en\",\"file_path\":\"/a26cQPRhJPX6GbWfQbvZdrrp9j9.jpg\",\"vote_average\":5.46,\"vote_count\":25,\"width\":2000},{\"aspect_ratio\":0.706,\"height\":2834,\"iso_639_1\":\"en\",\"file_path\":\"/14Cs3sr6nus6QTHThldis8p4Nlm.jpg\",\"vote_average\":5.384,\"vote_count\":2,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":2100,\"iso_639_1\":\"tr\",\"file_path\":\"/yjMuqAyJUoQZGWsZ0vZuYj5inAR.jpg\",\"vote_average\":5.384,\"vote_count\":2,\"width\":1400},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"he\",\"file_path\":\"/7Tmjr0jgVj8hHcd3UJD6HIilMKM.jpg\",\"vote_average\":5.384,\"vote_count\":2,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"pt\",\"file_path\":\"/ohXr0v9U0TfFu9IXbSDm5zoGV3R.jpg\",\"vote_average\":5.33,\"vote_count\":9,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":2100,\"iso_639_1\":\"es\",\"file_path\":\"/1yWmCAIGSVNuTOGyz9F48W9g1Ux.jpg\",\"vote_average\":5.326,\"vote_count\":7,\"width\":1400},{\"aspect_ratio\":0.667,\"height\":1500,\"iso_639_1\":\"ko\",\"file_path\":\"/eKZ07Ted7VHxQjbuZrRBFOamcKJ.jpg\",\"vote_average\":5.318,\"vote_count\":3,\"width\":1000},{\"aspect_ratio\":0.666,\"height\":1418,\"iso_639_1\":\"uk\",\"file_path\":\"/266SbE7HFsEbvprMagQyf19PDsn.jpg\",\"vote_average\":5.318,\"vote_count\":3,\"width\":945},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"es\",\"file_path\":\"/sgTAWJFaB2kBvdQxRGabYFiQqEK.jpg\",\"vote_average\":5.318,\"vote_count\":3,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"es\",\"file_path\":\"/6HRbhpNd32STZ3QqtoRCuoow1EI.jpg\",\"vote_average\":5.318,\"vote_count\":3,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":1500,\"iso_639_1\":\"he\",\"file_path\":\"/d23jzgwz3G7CPBEj3gNusWmkd64.jpg\",\"vote_average\":5.318,\"vote_count\":3,\"width\":1000},{\"aspect_ratio\":0.667,\"height\":1200,\"iso_639_1\":\"de\",\"file_path\":\"/rUPKPWBpr2ZbDXXZpT0qgYqTlG9.jpg\",\"vote_average\":5.318,\"vote_count\":3,\"width\":800},{\"aspect_ratio\":0.667,\"height\":2250,\"iso_639_1\":\"it\",\"file_path\":\"/rtNLQ8HbPElzEfrHjrzSr07prKT.jpg\",\"vote_average\":5.318,\"vote_count\":3,\"width\":1500},{\"aspect_ratio\":0.667,\"height\":750,\"iso_639_1\":\"pl\",\"file_path\":\"/efBb4gjjKneUoBVgfFOUu2OwihS.jpg\",\"vote_average\":5.312,\"vote_count\":1,\"width\":500},{\"aspect_ratio\":0.667,\"height\":2250,\"iso_639_1\":\"it\",\"file_path\":\"/xEAX4Hq21wZcRhspT7VyGtTspsp.jpg\",\"vote_average\":5.312,\"vote_count\":1,\"width\":1500},{\"aspect_ratio\":0.667,\"height\":1620,\"iso_639_1\":\"ru\",\"file_path\":\"/8GJpI9jGsnJQ6wSnYTbddrbjsWB.jpg\",\"vote_average\":5.312,\"vote_count\":1,\"width\":1080},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"pt\",\"file_path\":\"/nu7FEmC4zBaZ7c3QYmVpDlZa2H0.jpg\",\"vote_average\":5.312,\"vote_count\":1,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":1500,\"iso_639_1\":\"en\",\"file_path\":\"/6DFl63gJmQPxWBPRucHegEJ2Qns.jpg\",\"vote_average\":5.312,\"vote_count\":1,\"width\":1000},{\"aspect_ratio\":0.667,\"height\":1200,\"iso_639_1\":\"en\",\"file_path\":\"/9VOESirK1bX66Xenj9QHcl5GJU9.jpg\",\"vote_average\":5.282,\"vote_count\":14,\"width\":800},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"en\",\"file_path\":\"/jSziioSwPVrOy9Yow3XhWIBDjq1.jpg\",\"vote_average\":5.27,\"vote_count\":10,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"pt\",\"file_path\":\"/mZDc9F3uNSgUNaudb1VtumPs3dL.jpg\",\"vote_average\":5.252,\"vote_count\":4,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":1500,\"iso_639_1\":\"fr\",\"file_path\":\"/6NdNO1dq9w54ujk2G4sK4ogsf0H.jpg\",\"vote_average\":5.252,\"vote_count\":4,\"width\":1000},{\"aspect_ratio\":0.666,\"height\":1000,\"iso_639_1\":\"en\",\"file_path\":\"/b1ONg8Is4l760oryJa7Aw7LdPtM.jpg\",\"vote_average\":5.252,\"vote_count\":4,\"width\":666},{\"aspect_ratio\":0.701,\"height\":1426,\"iso_639_1\":\"en\",\"file_path\":\"/8kNruSfhk5IoE4eZOc4UpvDn6tq.jpg\",\"vote_average\":5.25,\"vote_count\":23,\"width\":1000},{\"aspect_ratio\":0.666,\"height\":1522,\"iso_639_1\":\"uk\",\"file_path\":\"/x43vYIPjcVvts7iHw6GH8sU1tiZ.jpg\",\"vote_average\":5.246,\"vote_count\":2,\"width\":1014},{\"aspect_ratio\":0.721,\"height\":1020,\"iso_639_1\":\"he\",\"file_path\":\"/v7Y0dqAMYBsdkiPVM5btdNkhzmt.jpg\",\"vote_average\":5.246,\"vote_count\":2,\"width\":735},{\"aspect_ratio\":0.721,\"height\":1020,\"iso_639_1\":\"he\",\"file_path\":\"/nXZ5rghMvQayEGytShNxiLaEWLk.jpg\",\"vote_average\":5.246,\"vote_count\":2,\"width\":735},{\"aspect_ratio\":0.667,\"height\":2100,\"iso_639_1\":\"en\",\"file_path\":\"/obVTG7QMbQ7gV3oZAJuFjKBhsGk.jpg\",\"vote_average\":5.246,\"vote_count\":2,\"width\":1400},{\"aspect_ratio\":0.667,\"height\":1500,\"iso_639_1\":\"en\",\"file_path\":\"/uVe8UnJTgLso26NtA8GB4M0RDLh.jpg\",\"vote_average\":5.246,\"vote_count\":2,\"width\":1000},{\"aspect_ratio\":0.667,\"height\":2400,\"iso_639_1\":\"en\",\"file_path\":\"/dMgcjU3uaL9BhizmZbrGJsPQ8h4.jpg\",\"vote_average\":5.246,\"vote_count\":2,\"width\":1600},{\"aspect_ratio\":0.667,\"height\":1500,\"iso_639_1\":\"de\",\"file_path\":\"/aRgu4CfNcCIHGOnbX81IPujQ3bO.jpg\",\"vote_average\":5.246,\"vote_count\":2,\"width\":1000},{\"aspect_ratio\":0.698,\"height\":2865,\"iso_639_1\":\"ko\",\"file_path\":\"/uEsdm0noLfmkcVrZlyyuXp9e5I7.jpg\",\"vote_average\":5.246,\"vote_count\":2,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"es\",\"file_path\":\"/6ZO199essPSa8taBHB4zLvOJLDD.jpg\",\"vote_average\":5.246,\"vote_count\":2,\"width\":2000},{\"aspect_ratio\":0.669,\"height\":2278,\"iso_639_1\":\"en\",\"file_path\":\"/bptfVGEQuv6vDTIMVCHjJ9Dz8PX.jpg\",\"vote_average\":5.232,\"vote_count\":17,\"width\":1524},{\"aspect_ratio\":0.754,\"height\":1500,\"iso_639_1\":\"en\",\"file_path\":\"/wR5HZWdVpcXx9sevV1bQi7rP4op.jpg\",\"vote_average\":5.212,\"vote_count\":11,\"width\":1131},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"es\",\"file_path\":\"/63j6sG0Q7GpLLNbGKgmFmAp7xT9.jpg\",\"vote_average\":5.198,\"vote_count\":7,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":1500,\"iso_639_1\":\"es\",\"file_path\":\"/cm8dnS4MF3jtz0mvA9nEiDy0kxl.jpg\",\"vote_average\":5.19,\"vote_count\":5,\"width\":1000},{\"aspect_ratio\":0.667,\"height\":1500,\"iso_639_1\":\"es\",\"file_path\":\"/xfRCDSmdMQSISmLxI0r8hQ9GIQa.jpg\",\"vote_average\":5.19,\"vote_count\":5,\"width\":1000},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"es\",\"file_path\":\"/pOzC3JAt5kG6tJSNgp4N46T5QTI.jpg\",\"vote_average\":5.19,\"vote_count\":5,\"width\":2000},{\"aspect_ratio\":0.698,\"height\":1433,\"iso_639_1\":\"ko\",\"file_path\":\"/kabpExFv9JLp778w9ZtCtZnWH9N.jpg\",\"vote_average\":5.18,\"vote_count\":3,\"width\":1000},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":null,\"file_path\":\"/a1hxQhCl2i9DmbjKXixkukVW7zy.jpg\",\"vote_average\":5.18,\"vote_count\":3,\"width\":2000},{\"aspect_ratio\":0.711,\"height\":1066,\"iso_639_1\":\"pt\",\"file_path\":\"/8pcOlY6jaupFKTIy2aeKCKZ2GMj.jpg\",\"vote_average\":5.18,\"vote_count\":3,\"width\":758},{\"aspect_ratio\":0.666,\"height\":1066,\"iso_639_1\":\"pt\",\"file_path\":\"/lZcILaI9vvoCUVxl9KnUKeL6sKc.jpg\",\"vote_average\":5.18,\"vote_count\":3,\"width\":710},{\"aspect_ratio\":0.707,\"height\":1403,\"iso_639_1\":\"en\",\"file_path\":\"/wlmGPHDbnOK4AwL37m6tegxO8A3.jpg\",\"vote_average\":5.18,\"vote_count\":3,\"width\":992},{\"aspect_ratio\":0.667,\"height\":2100,\"iso_639_1\":\"en\",\"file_path\":\"/hPkAixiAyXzQb8uTOiovuhpDBK2.jpg\",\"vote_average\":5.172,\"vote_count\":1,\"width\":1400},{\"aspect_ratio\":0.671,\"height\":1361,\"iso_639_1\":\"ko\",\"file_path\":\"/4quCAKpCylIy991IHkLCuXCzO1a.jpg\",\"vote_average\":5.172,\"vote_count\":1,\"width\":913},{\"aspect_ratio\":0.671,\"height\":1361,\"iso_639_1\":\"ko\",\"file_path\":\"/kZfIYkflKe52rbzUruBUIqX5KOV.jpg\",\"vote_average\":5.172,\"vote_count\":1,\"width\":913},{\"aspect_ratio\":0.667,\"height\":2400,\"iso_639_1\":\"en\",\"file_path\":\"/7Yl18M6LegCaMuwYDkEhohXsG1b.jpg\",\"vote_average\":5.172,\"vote_count\":1,\"width\":1600},{\"aspect_ratio\":0.701,\"height\":1426,\"iso_639_1\":\"ta\",\"file_path\":\"/bo2IVEKV7BtHLHOWF1zfuqoHnfp.jpg\",\"vote_average\":5.172,\"vote_count\":1,\"width\":1000},{\"aspect_ratio\":0.667,\"height\":2400,\"iso_639_1\":\"en\",\"file_path\":\"/tcmNYC8ub4E51gkErXoIgkbESZH.jpg\",\"vote_average\":5.172,\"vote_count\":1,\"width\":1600},{\"aspect_ratio\":0.701,\"height\":1426,\"iso_639_1\":\"en\",\"file_path\":\"/k1lICEYRpJeFRIRfjxYwmpO9LTu.jpg\",\"vote_average\":5.128,\"vote_count\":6,\"width\":1000},{\"aspect_ratio\":0.667,\"height\":2100,\"iso_639_1\":\"fr\",\"file_path\":\"/iqR0M1ln7Kobjp9liUj2Q7mtQZG.jpg\",\"vote_average\":5.118,\"vote_count\":4,\"width\":1400},{\"aspect_ratio\":0.698,\"height\":1433,\"iso_639_1\":\"ko\",\"file_path\":\"/5vgorfLOTe6w8Ti68s25kzXxjun.jpg\",\"vote_average\":5.106,\"vote_count\":2,\"width\":1000},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"es\",\"file_path\":\"/cp6PLg9gGItJBIQlnEfikqZMvah.jpg\",\"vote_average\":5.068,\"vote_count\":7,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":1800,\"iso_639_1\":\"en\",\"file_path\":\"/fCTjGJxKWZGWQDCGFGYMGvh4VNP.jpg\",\"vote_average\":5.068,\"vote_count\":7,\"width\":1200},{\"aspect_ratio\":0.687,\"height\":1200,\"iso_639_1\":\"es\",\"file_path\":\"/974fFjwHSjMkZhH0HOZZcOyRM2h.jpg\",\"vote_average\":4.922,\"vote_count\":5,\"width\":824},{\"aspect_ratio\":0.706,\"height\":1000,\"iso_639_1\":\"be\",\"file_path\":\"/eKtuGJQJ06iafhYl22mYCWidjmM.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":706},{\"aspect_ratio\":0.667,\"height\":1800,\"iso_639_1\":null,\"file_path\":\"/fFkMxrBYnEBcEHotxTQwx2nAncy.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1200},{\"aspect_ratio\":0.667,\"height\":1800,\"iso_639_1\":\"hu\",\"file_path\":\"/74RcH5EIo9IrPIgsZw7mGd989tW.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1200},{\"aspect_ratio\":0.71,\"height\":1353,\"iso_639_1\":\"it\",\"file_path\":\"/4Fb5srk9F3jo561ig451r7O3EgR.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":960},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"cs\",\"file_path\":\"/nYtec2BxtcupGTdOMcIscG6rkhQ.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":2100,\"iso_639_1\":\"pt\",\"file_path\":\"/rwUtDfMvMQsGrjpyS27ASLlJ6J5.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1400},{\"aspect_ratio\":0.667,\"height\":1080,\"iso_639_1\":\"en\",\"file_path\":\"/A86dg5r6tdUVvQBeOGhvgTXGoQi.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":720},{\"aspect_ratio\":0.667,\"height\":2100,\"iso_639_1\":\"en\",\"file_path\":\"/m10ywT1Bnazwhccdymn6hap6Fmw.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1400},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"en\",\"file_path\":\"/uwOQQvBHbOALl7l9LegJSGmVY9e.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":2000},{\"aspect_ratio\":0.706,\"height\":1464,\"iso_639_1\":\"sk\",\"file_path\":\"/rc8sRTYamBPNjEoL6WsBuTqp5mW.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1034},{\"aspect_ratio\":0.667,\"height\":1800,\"iso_639_1\":\"sk\",\"file_path\":\"/ibplTVmWaWCQ8TqFbmcJXBmuTtf.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1200},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"sk\",\"file_path\":\"/f3EpLs1CfyRIDW7LuFj3kvBGZ4N.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":2928,\"iso_639_1\":\"en\",\"file_path\":\"/zk4t5puCiXPvw2dwKBGUt4Hh977.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1952},{\"aspect_ratio\":0.667,\"height\":2100,\"iso_639_1\":\"tr\",\"file_path\":\"/lNur5DYuFHkjz19Y2auJ1sLEP5q.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1400},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"hu\",\"file_path\":\"/yBtDnvP3V4YY3K0u9IlyZdWyJA6.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":1500,\"iso_639_1\":\"en\",\"file_path\":\"/krAoSoir6XtvQYAqqRRHzC5Xhiv.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1000},{\"aspect_ratio\":0.667,\"height\":3000,\"iso_639_1\":\"es\",\"file_path\":\"/cB72WHqEKqHgV4P2z08aRqRVOvi.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":2000},{\"aspect_ratio\":0.667,\"height\":900,\"iso_639_1\":\"vi\",\"file_path\":\"/wBxkCbNI8eDRRfUEl8w0G2rfLyu.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":600},{\"aspect_ratio\":0.75,\"height\":853,\"iso_639_1\":\"en\",\"file_path\":\"/uA01tzxAfLDRRM5ZS3ethCdrqsJ.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":640},{\"aspect_ratio\":0.666,\"height\":2845,\"iso_639_1\":\"en\",\"file_path\":\"/lhkwaKzS9Y7ZEotyPwyQ7Ye2Dx5.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1895},{\"aspect_ratio\":0.75,\"height\":1333,\"iso_639_1\":\"fr\",\"file_path\":\"/dQqNAlqwwmxNyULZgQNvZENx2h7.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1000},{\"aspect_ratio\":0.667,\"height\":1500,\"iso_639_1\":\"en\",\"file_path\":\"/fGkVDmJgrfvLtrDtYlCxwlkkSNY.jpg\",\"vote_average\":0.0,\"vote_count\":0,\"width\":1000}]}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "backdrops": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aspect_ratio": {
                            "type": "number",
                            "example": 1.778,
                            "default": 0
                          },
                          "height": {
                            "type": "integer",
                            "example": 800,
                            "default": 0
                          },
                          "iso_639_1": {

                          },
                          "file_path": {
                            "type": "string",
                            "example": "/hZkgoQYus5vegHoetLkCJzb17zJ.jpg"
                          },
                          "vote_average": {
                            "type": "number",
                            "example": 5.622,
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "example": 20,
                            "default": 0
                          },
                          "width": {
                            "type": "integer",
                            "example": 1422,
                            "default": 0
                          }
                        }
                      }
                    },
                    "id": {
                      "type": "integer",
                      "example": 550,
                      "default": 0
                    },
                    "logos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aspect_ratio": {
                            "type": "number",
                            "example": 5.203,
                            "default": 0
                          },
                          "height": {
                            "type": "integer",
                            "example": 79,
                            "default": 0
                          },
                          "iso_639_1": {
                            "type": "string",
                            "example": "he"
                          },
                          "file_path": {
                            "type": "string",
                            "example": "/c1KLulrIhUqY5fT42nmC5aERGCp.png"
                          },
                          "vote_average": {
                            "type": "number",
                            "example": 5.312,
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "width": {
                            "type": "integer",
                            "example": 411,
                            "default": 0
                          }
                        }
                      }
                    },
                    "posters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aspect_ratio": {
                            "type": "number",
                            "example": 0.667,
                            "default": 0
                          },
                          "height": {
                            "type": "integer",
                            "example": 900,
                            "default": 0
                          },
                          "iso_639_1": {
                            "type": "string",
                            "example": "pt"
                          },
                          "file_path": {
                            "type": "string",
                            "example": "/r3pPehX4ik8NLYPpbDRAh0YRtMb.jpg"
                          },
                          "vote_average": {
                            "type": "number",
                            "example": 5.258,
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "example": 6,
                            "default": 0
                          },
                          "width": {
                            "type": "integer",
                            "example": 600,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/trending/all/{time_window}": {
      "get": {
        "summary": "All",
        "description": "Get the trending movies, TV shows and people.",
        "operationId": "trending-all",
        "parameters": [
          {
            "name": "time_window",
            "in": "path",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week"
              ],
              "default": "day"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "description": "`ISO-639-1`-`ISO-3166-1` code",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/44immBwzhDVyjn87b3x3l9mlhAD.jpg\",\"id\":934433,\"title\":\"Scream VI\",\"original_language\":\"en\",\"original_title\":\"Scream VI\",\"overview\":\"Following the latest Ghostface killings, the four survivors leave Woodsboro behind and start a fresh chapter.\",\"poster_path\":\"/wDWwtvkRRlgTiUr6TyLSMX8FCuZ.jpg\",\"media_type\":\"movie\",\"genre_ids\":[27,9648,53],\"popularity\":609.941,\"release_date\":\"2023-03-08\",\"video\":false,\"vote_average\":7.374,\"vote_count\":684},{\"adult\":false,\"backdrop_path\":\"/b9UCfDzwiWw7mIFsIQR9ZJUeh7q.jpg\",\"id\":868759,\"title\":\"Ghosted\",\"original_language\":\"en\",\"original_title\":\"Ghosted\",\"overview\":\"Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but then makes the shocking discovery that she’s a secret agent. Before they can decide on a second date, Cole and Sadie are swept away on an international adventure to save the world.\",\"poster_path\":\"/liLN69YgoovHVgmlHJ876PKi5Yi.jpg\",\"media_type\":\"movie\",\"genre_ids\":[10749,28,35],\"popularity\":619.83,\"release_date\":\"2023-04-21\",\"video\":false,\"vote_average\":7.318,\"vote_count\":359},{\"adult\":false,\"backdrop_path\":\"/iJQIbOPm81fPEGKt5BPuZmfnA54.jpg\",\"id\":502356,\"title\":\"The Super Mario Bros. Movie\",\"original_language\":\"en\",\"original_title\":\"The Super Mario Bros. Movie\",\"overview\":\"While working underground to fix a water main, Brooklyn plumbers—and brothers—Mario and Luigi are transported down a mysterious pipe and wander into a magical new world. But when the brothers are separated, Mario embarks on an epic quest to find Luigi.\",\"poster_path\":\"/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg\",\"media_type\":\"movie\",\"genre_ids\":[16,12,10751,14,35],\"popularity\":7212.464,\"release_date\":\"2023-04-05\",\"video\":false,\"vote_average\":7.51,\"vote_count\":1452},{\"adult\":false,\"backdrop_path\":\"/8P15FsYcTwQZ4G5rRMd1TKD14Aq.jpg\",\"id\":103768,\"name\":\"Sweet Tooth\",\"original_language\":\"en\",\"original_name\":\"Sweet Tooth\",\"overview\":\"On a perilous adventure across a post-apocalyptic world, a lovable boy who's half-human and half-deer searches for a new beginning with a gruff protector.\",\"poster_path\":\"/dBxxtfhC4vYrxB2fLsSxOTY2dQc.jpg\",\"media_type\":\"tv\",\"genre_ids\":[18,10765],\"popularity\":137.498,\"first_air_date\":\"2021-06-04\",\"vote_average\":7.928,\"vote_count\":1094,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/8YFL5QQVPy3AgrEQxNYVSgiPEbe.jpg\",\"id\":640146,\"title\":\"Ant-Man and the Wasp: Quantumania\",\"original_language\":\"en\",\"original_title\":\"Ant-Man and the Wasp: Quantumania\",\"overview\":\"Super-Hero partners Scott Lang and Hope van Dyne, along with with Hope's parents Janet van Dyne and Hank Pym, and Scott's daughter Cassie Lang, find themselves exploring the Quantum Realm, interacting with strange new creatures and embarking on an adventure that will push them beyond the limits of what they thought possible.\",\"poster_path\":\"/ngl2FKBlU4fhbdsrtdom9LVLBXw.jpg\",\"media_type\":\"movie\",\"genre_ids\":[28,12,878],\"popularity\":9272.643,\"release_date\":\"2023-02-15\",\"video\":false,\"vote_average\":6.526,\"vote_count\":1879},{\"adult\":false,\"backdrop_path\":\"/A1kULtnwc9v4gaYqIGyMu4YDOFu.jpg\",\"id\":124800,\"name\":\"Love \\u0026 Death\",\"original_language\":\"en\",\"original_name\":\"Love \\u0026 Death\",\"overview\":\"The true story of Candy and Pat Montgomery and Betty and Allan Gore – two churchgoing couples enjoying their small town Texas life… until an extramarital affair leads somebody to pick up an axe.\",\"poster_path\":\"/8WchbT0UPQeo3PZ6G01fhccYaQB.jpg\",\"media_type\":\"tv\",\"genre_ids\":[80,18],\"popularity\":72.051,\"first_air_date\":\"2023-04-27\",\"vote_average\":7.2,\"vote_count\":4,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/7bWxAsNPv9CXHOhZbJVlj2KxgfP.jpg\",\"id\":713704,\"title\":\"Evil Dead Rise\",\"original_language\":\"en\",\"original_title\":\"Evil Dead Rise\",\"overview\":\"Two sisters find an ancient vinyl that gives birth to bloodthirsty demons that run amok in a Los Angeles apartment building and thrusts them into a primal battle for survival as they face the most nightmarish version of family imaginable.\",\"poster_path\":\"/mIBCtPvKZQlxubxKMeViO2UrP3q.jpg\",\"media_type\":\"movie\",\"genre_ids\":[27,53],\"popularity\":1898.367,\"release_date\":\"2023-04-12\",\"video\":false,\"vote_average\":6.985,\"vote_count\":200},{\"adult\":false,\"backdrop_path\":\"/fUVK7iUF0k9dU3MwV5MIKWMKGys.jpg\",\"id\":298618,\"title\":\"The Flash\",\"original_language\":\"en\",\"original_title\":\"The Flash\",\"overview\":\"When his attempt to save his family inadvertently alters the future, Barry Allen becomes trapped in a reality in which General Zod has returned and there are no Super Heroes to turn to. In order to save the world that he is in and return to the future that he knows, Barry's only hope is to race for his life. But will making the ultimate sacrifice be enough to reset the universe?\",\"poster_path\":\"/5aZoKcR8VxYWhiENYOUg6ooGbc8.jpg\",\"media_type\":\"movie\",\"genre_ids\":[878,28,12],\"popularity\":170.114,\"release_date\":\"2023-06-14\",\"video\":false,\"vote_average\":0.0,\"vote_count\":0},{\"adult\":false,\"backdrop_path\":\"/zE9jOFPFCz30cFY606KdhHQbPhI.jpg\",\"id\":221802,\"name\":\"The Nurse\",\"original_language\":\"da\",\"original_name\":\"Sygeplejersken\",\"overview\":\"Pernille Kurzmann Larsen, a fresh-faced nurse at a hospital, begins to question the attention-seeking tendencies of her colleague, Christina Aistrup Hansen. As Pernille delves deeper into her suspicions, she starts to believe that Christina's behavior may be linked to a series of patient deaths.\",\"poster_path\":\"/zroHjvuzScGWfNKpqBPuCDuYZnh.jpg\",\"media_type\":\"tv\",\"genre_ids\":[80,18],\"popularity\":33.958,\"first_air_date\":\"2023-04-27\",\"vote_average\":6.0,\"vote_count\":3,\"origin_country\":[\"DK\"]},{\"adult\":false,\"backdrop_path\":\"/oSXHFbQN7QPE3WYlGm3rdNB3Qju.jpg\",\"id\":218194,\"name\":\"Saint X\",\"original_language\":\"en\",\"original_name\":\"Saint X\",\"overview\":\"A young woman's mysterious death during an idyllic Caribbean vacation creates a traumatic ripple effect that eventually pulls her surviving sister into a dangerous pursuit of the truth.\",\"poster_path\":\"/wViKoQ7njLujruFWBMY5NUzj7EV.jpg\",\"media_type\":\"tv\",\"genre_ids\":[80,18,9648],\"popularity\":41.296,\"first_air_date\":\"2023-04-26\",\"vote_average\":9.0,\"vote_count\":4,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/ovM06PdF3M8wvKb06i4sjW3xoww.jpg\",\"id\":76600,\"title\":\"Avatar: The Way of Water\",\"original_language\":\"en\",\"original_title\":\"Avatar: The Way of Water\",\"overview\":\"Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.\",\"poster_path\":\"/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg\",\"media_type\":\"movie\",\"genre_ids\":[878,12,28],\"popularity\":3471.132,\"release_date\":\"2022-12-14\",\"video\":false,\"vote_average\":7.72,\"vote_count\":7530},{\"adult\":false,\"backdrop_path\":\"/m0mLjT3TkTXYU2e1XP3wmYDlIml.jpg\",\"id\":873256,\"title\":\"Kiss, Kiss!\",\"original_language\":\"pl\",\"original_title\":\"Gorzko, gorzko!\",\"overview\":\"Convinced he can charm any woman, a tenacious flirt sets his sights on a headstrong bride-to-be engaged to the son of an ambitious politician.\",\"poster_path\":\"/jLn0dg0n73v8L6lKkTkX5k8POyy.jpg\",\"media_type\":\"movie\",\"genre_ids\":[10749,35],\"popularity\":41.779,\"release_date\":\"2023-04-26\",\"video\":false,\"vote_average\":7.25,\"vote_count\":4},{\"adult\":false,\"backdrop_path\":\"/6Lw54zxm6BAEKJeGlabyzzR5Juu.jpg\",\"id\":82856,\"name\":\"The Mandalorian\",\"original_language\":\"en\",\"original_name\":\"The Mandalorian\",\"overview\":\"After the fall of the Galactic Empire, lawlessness has spread throughout the galaxy. A lone gunfighter makes his way through the outer reaches, earning his keep as a bounty hunter.\",\"poster_path\":\"/eU1i6eHXlzMOlEq0ku1Rzq7Y4wA.jpg\",\"media_type\":\"tv\",\"genre_ids\":[10765,10759,18],\"popularity\":1007.844,\"first_air_date\":\"2019-11-12\",\"vote_average\":8.481,\"vote_count\":8899,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/dQObIWkxfzKEDhtjOSoFnyCVgt0.jpg\",\"id\":447365,\"title\":\"Guardians of the Galaxy Volume 3\",\"original_language\":\"en\",\"original_title\":\"Guardians of the Galaxy Volume 3\",\"overview\":\"Peter Quill, still reeling from the loss of Gamora, must rally his team around him to defend the universe along with protecting one of their own. A mission that, if not completed successfully, could quite possibly lead to the end of the Guardians as we know them.\",\"poster_path\":\"/r2J02Z2OpNTctfOSN1Ydgii51I3.jpg\",\"media_type\":\"movie\",\"genre_ids\":[878,12,28],\"popularity\":235.884,\"release_date\":\"2023-05-03\",\"video\":false,\"vote_average\":0.0,\"vote_count\":0},{\"adult\":false,\"backdrop_path\":\"/nTvM4mhqNlHIvUkI1gVnW6XP7GG.jpg\",\"id\":85937,\"name\":\"Demon Slayer: Kimetsu no Yaiba\",\"original_language\":\"ja\",\"original_name\":\"鬼滅の刃\",\"overview\":\"It is the Taisho Period in Japan. Tanjiro, a kindhearted boy who sells charcoal for a living, finds his family slaughtered by a demon. To make matters worse, his younger sister Nezuko, the sole survivor, has been transformed into a demon herself. Though devastated by this grim reality, Tanjiro resolves to become a “demon slayer” so that he can turn his sister back into a human, and kill the demon that massacred his family.\",\"poster_path\":\"/xUfRZu2mi8jH6SzQEJGP6tjBuYj.jpg\",\"media_type\":\"tv\",\"genre_ids\":[16,10759,10765],\"popularity\":297.901,\"first_air_date\":\"2019-04-06\",\"vote_average\":8.699,\"vote_count\":5093,\"origin_country\":[\"JP\"]},{\"adult\":false,\"backdrop_path\":\"/wybmSmviUXxlBmX44gtpow5Y9TB.jpg\",\"id\":594767,\"title\":\"Shazam! Fury of the Gods\",\"original_language\":\"en\",\"original_title\":\"Shazam! Fury of the Gods\",\"overview\":\"Billy Batson and his foster siblings, who transform into superheroes by saying \\\"Shazam!\\\", are forced to get back into action and fight the Daughters of Atlas, who they must stop from using a weapon that could destroy the world.\",\"poster_path\":\"/2VK4d3mqqTc7LVZLnLPeRiPaJ71.jpg\",\"media_type\":\"movie\",\"genre_ids\":[28,35,14],\"popularity\":4319.273,\"release_date\":\"2023-03-15\",\"video\":false,\"vote_average\":6.845,\"vote_count\":1213},{\"adult\":false,\"backdrop_path\":\"/eSVu1FvGPy86TDo4hQbpuHx55DJ.jpg\",\"id\":700391,\"title\":\"65\",\"original_language\":\"en\",\"original_title\":\"65\",\"overview\":\"65 million years ago, the only 2 survivors of a spaceship from Somaris that crash-landed on Earth must fend off dinosaurs and reach the escape vessel in time before an imminent asteroid strike threatens to destroy the planet.\",\"poster_path\":\"/rzRb63TldOKdKydCvWJM8B6EkPM.jpg\",\"media_type\":\"movie\",\"genre_ids\":[878,12,53,28],\"popularity\":1189.997,\"release_date\":\"2023-03-02\",\"video\":false,\"vote_average\":6.3,\"vote_count\":756},{\"adult\":false,\"backdrop_path\":\"/h8gHn0OzBoaefsYseUByqsmEDMY.jpg\",\"id\":603692,\"title\":\"John Wick: Chapter 4\",\"original_language\":\"en\",\"original_title\":\"John Wick: Chapter 4\",\"overview\":\"With the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.\",\"poster_path\":\"/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg\",\"media_type\":\"movie\",\"genre_ids\":[28,53,80],\"popularity\":1312.743,\"release_date\":\"2023-03-22\",\"video\":false,\"vote_average\":7.975,\"vote_count\":1207},{\"adult\":false,\"backdrop_path\":\"/ifUfE79O1raUwbaQRIB7XnFz5ZC.jpg\",\"id\":646385,\"title\":\"Scream\",\"original_language\":\"en\",\"original_title\":\"Scream\",\"overview\":\"Twenty-five years after a streak of brutal murders shocked the quiet town of Woodsboro, a new killer has donned the Ghostface mask and begins targeting a group of teenagers to resurrect secrets from the town’s deadly past.\",\"poster_path\":\"/4qIV5WXP1xQvpPAHmgVxCmxvPh6.jpg\",\"media_type\":\"movie\",\"genre_ids\":[27,9648,53],\"popularity\":373.035,\"release_date\":\"2022-01-12\",\"video\":false,\"vote_average\":6.737,\"vote_count\":2344},{\"adult\":false,\"backdrop_path\":\"/pbMbDlOAkVuvnxovBA2ENin59xH.jpg\",\"id\":447277,\"title\":\"The Little Mermaid\",\"original_language\":\"en\",\"original_title\":\"The Little Mermaid\",\"overview\":\"The youngest of King Triton’s daughters, and the most defiant, Ariel longs to find out more about the world beyond the sea, and while visiting the surface, falls for the dashing Prince Eric. With mermaids forbidden to interact with humans, Ariel makes a deal with the evil sea witch, Ursula, which gives her a chance to experience life on land, but ultimately places her life – and her father’s crown – in jeopardy.\",\"poster_path\":\"/ym1dxyOk4jFcSl4Q2zmRrA5BEEN.jpg\",\"media_type\":\"movie\",\"genre_ids\":[12,10751,14,10749],\"popularity\":210.368,\"release_date\":\"2023-05-18\",\"video\":false,\"vote_average\":0.0,\"vote_count\":0}],\"total_pages\":1000,\"total_results\":20000}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adult": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "backdrop_path": {
                            "type": "string",
                            "example": "/44immBwzhDVyjn87b3x3l9mlhAD.jpg"
                          },
                          "id": {
                            "type": "integer",
                            "example": 934433,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Scream VI"
                          },
                          "original_language": {
                            "type": "string",
                            "example": "en"
                          },
                          "original_title": {
                            "type": "string",
                            "example": "Scream VI"
                          },
                          "overview": {
                            "type": "string",
                            "example": "Following the latest Ghostface killings, the four survivors leave Woodsboro behind and start a fresh chapter."
                          },
                          "poster_path": {
                            "type": "string",
                            "example": "/wDWwtvkRRlgTiUr6TyLSMX8FCuZ.jpg"
                          },
                          "media_type": {
                            "type": "string",
                            "example": "movie"
                          },
                          "genre_ids": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "example": 27,
                              "default": 0
                            }
                          },
                          "popularity": {
                            "type": "number",
                            "example": 609.941,
                            "default": 0
                          },
                          "release_date": {
                            "type": "string",
                            "example": "2023-03-08"
                          },
                          "video": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "vote_average": {
                            "type": "number",
                            "example": 7.374,
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "example": 684,
                            "default": 0
                          }
                        }
                      }
                    },
                    "total_pages": {
                      "type": "integer",
                      "example": 1000,
                      "default": 0
                    },
                    "total_results": {
                      "type": "integer",
                      "example": 20000,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/trending/movie/{time_window}": {
      "get": {
        "summary": "Movies",
        "description": "Get the trending movies on TMDB.",
        "operationId": "trending-movies",
        "parameters": [
          {
            "name": "time_window",
            "in": "path",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week"
              ],
              "default": "day"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "description": "`ISO-639-1`-`ISO-3166-1` code",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/44immBwzhDVyjn87b3x3l9mlhAD.jpg\",\"id\":934433,\"title\":\"Scream VI\",\"original_language\":\"en\",\"original_title\":\"Scream VI\",\"overview\":\"Following the latest Ghostface killings, the four survivors leave Woodsboro behind and start a fresh chapter.\",\"poster_path\":\"/wDWwtvkRRlgTiUr6TyLSMX8FCuZ.jpg\",\"media_type\":\"movie\",\"genre_ids\":[27,9648,53],\"popularity\":609.941,\"release_date\":\"2023-03-08\",\"video\":false,\"vote_average\":7.374,\"vote_count\":684},{\"adult\":false,\"backdrop_path\":\"/b9UCfDzwiWw7mIFsIQR9ZJUeh7q.jpg\",\"id\":868759,\"title\":\"Ghosted\",\"original_language\":\"en\",\"original_title\":\"Ghosted\",\"overview\":\"Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but then makes the shocking discovery that she’s a secret agent. Before they can decide on a second date, Cole and Sadie are swept away on an international adventure to save the world.\",\"poster_path\":\"/liLN69YgoovHVgmlHJ876PKi5Yi.jpg\",\"media_type\":\"movie\",\"genre_ids\":[10749,28,35],\"popularity\":619.83,\"release_date\":\"2023-04-21\",\"video\":false,\"vote_average\":7.318,\"vote_count\":359},{\"adult\":false,\"backdrop_path\":\"/iJQIbOPm81fPEGKt5BPuZmfnA54.jpg\",\"id\":502356,\"title\":\"The Super Mario Bros. Movie\",\"original_language\":\"en\",\"original_title\":\"The Super Mario Bros. Movie\",\"overview\":\"While working underground to fix a water main, Brooklyn plumbers—and brothers—Mario and Luigi are transported down a mysterious pipe and wander into a magical new world. But when the brothers are separated, Mario embarks on an epic quest to find Luigi.\",\"poster_path\":\"/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg\",\"media_type\":\"movie\",\"genre_ids\":[16,12,10751,14,35],\"popularity\":7212.464,\"release_date\":\"2023-04-05\",\"video\":false,\"vote_average\":7.51,\"vote_count\":1452},{\"adult\":false,\"backdrop_path\":\"/8YFL5QQVPy3AgrEQxNYVSgiPEbe.jpg\",\"id\":640146,\"title\":\"Ant-Man and the Wasp: Quantumania\",\"original_language\":\"en\",\"original_title\":\"Ant-Man and the Wasp: Quantumania\",\"overview\":\"Super-Hero partners Scott Lang and Hope van Dyne, along with with Hope's parents Janet van Dyne and Hank Pym, and Scott's daughter Cassie Lang, find themselves exploring the Quantum Realm, interacting with strange new creatures and embarking on an adventure that will push them beyond the limits of what they thought possible.\",\"poster_path\":\"/ngl2FKBlU4fhbdsrtdom9LVLBXw.jpg\",\"media_type\":\"movie\",\"genre_ids\":[28,12,878],\"popularity\":9272.643,\"release_date\":\"2023-02-15\",\"video\":false,\"vote_average\":6.526,\"vote_count\":1879},{\"adult\":false,\"backdrop_path\":\"/7bWxAsNPv9CXHOhZbJVlj2KxgfP.jpg\",\"id\":713704,\"title\":\"Evil Dead Rise\",\"original_language\":\"en\",\"original_title\":\"Evil Dead Rise\",\"overview\":\"Two sisters find an ancient vinyl that gives birth to bloodthirsty demons that run amok in a Los Angeles apartment building and thrusts them into a primal battle for survival as they face the most nightmarish version of family imaginable.\",\"poster_path\":\"/mIBCtPvKZQlxubxKMeViO2UrP3q.jpg\",\"media_type\":\"movie\",\"genre_ids\":[27,53],\"popularity\":1898.367,\"release_date\":\"2023-04-12\",\"video\":false,\"vote_average\":6.965,\"vote_count\":201},{\"adult\":false,\"backdrop_path\":\"/fUVK7iUF0k9dU3MwV5MIKWMKGys.jpg\",\"id\":298618,\"title\":\"The Flash\",\"original_language\":\"en\",\"original_title\":\"The Flash\",\"overview\":\"When his attempt to save his family inadvertently alters the future, Barry Allen becomes trapped in a reality in which General Zod has returned and there are no Super Heroes to turn to. In order to save the world that he is in and return to the future that he knows, Barry's only hope is to race for his life. But will making the ultimate sacrifice be enough to reset the universe?\",\"poster_path\":\"/5aZoKcR8VxYWhiENYOUg6ooGbc8.jpg\",\"media_type\":\"movie\",\"genre_ids\":[878,28,12],\"popularity\":170.114,\"release_date\":\"2023-06-14\",\"video\":false,\"vote_average\":0.0,\"vote_count\":0},{\"adult\":false,\"backdrop_path\":\"/dQObIWkxfzKEDhtjOSoFnyCVgt0.jpg\",\"id\":447365,\"title\":\"Guardians of the Galaxy Volume 3\",\"original_language\":\"en\",\"original_title\":\"Guardians of the Galaxy Volume 3\",\"overview\":\"Peter Quill, still reeling from the loss of Gamora, must rally his team around him to defend the universe along with protecting one of their own. A mission that, if not completed successfully, could quite possibly lead to the end of the Guardians as we know them.\",\"poster_path\":\"/r2J02Z2OpNTctfOSN1Ydgii51I3.jpg\",\"media_type\":\"movie\",\"genre_ids\":[878,12,28],\"popularity\":235.884,\"release_date\":\"2023-05-03\",\"video\":false,\"vote_average\":0.0,\"vote_count\":0},{\"adult\":false,\"backdrop_path\":\"/ovM06PdF3M8wvKb06i4sjW3xoww.jpg\",\"id\":76600,\"title\":\"Avatar: The Way of Water\",\"original_language\":\"en\",\"original_title\":\"Avatar: The Way of Water\",\"overview\":\"Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.\",\"poster_path\":\"/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg\",\"media_type\":\"movie\",\"genre_ids\":[878,12,28],\"popularity\":3471.132,\"release_date\":\"2022-12-14\",\"video\":false,\"vote_average\":7.7,\"vote_count\":7530},{\"adult\":false,\"backdrop_path\":\"/m0mLjT3TkTXYU2e1XP3wmYDlIml.jpg\",\"id\":873256,\"title\":\"Kiss, Kiss!\",\"original_language\":\"pl\",\"original_title\":\"Gorzko, gorzko!\",\"overview\":\"Convinced he can charm any woman, a tenacious flirt sets his sights on a headstrong bride-to-be engaged to the son of an ambitious politician.\",\"poster_path\":\"/jLn0dg0n73v8L6lKkTkX5k8POyy.jpg\",\"media_type\":\"movie\",\"genre_ids\":[10749,35],\"popularity\":41.779,\"release_date\":\"2023-04-26\",\"video\":false,\"vote_average\":7.25,\"vote_count\":4},{\"adult\":false,\"backdrop_path\":\"/wybmSmviUXxlBmX44gtpow5Y9TB.jpg\",\"id\":594767,\"title\":\"Shazam! Fury of the Gods\",\"original_language\":\"en\",\"original_title\":\"Shazam! Fury of the Gods\",\"overview\":\"Billy Batson and his foster siblings, who transform into superheroes by saying \\\"Shazam!\\\", are forced to get back into action and fight the Daughters of Atlas, who they must stop from using a weapon that could destroy the world.\",\"poster_path\":\"/2VK4d3mqqTc7LVZLnLPeRiPaJ71.jpg\",\"media_type\":\"movie\",\"genre_ids\":[28,35,14],\"popularity\":4319.273,\"release_date\":\"2023-03-15\",\"video\":false,\"vote_average\":6.848,\"vote_count\":1215},{\"adult\":false,\"backdrop_path\":\"/eSVu1FvGPy86TDo4hQbpuHx55DJ.jpg\",\"id\":700391,\"title\":\"65\",\"original_language\":\"en\",\"original_title\":\"65\",\"overview\":\"65 million years ago, the only 2 survivors of a spaceship from Somaris that crash-landed on Earth must fend off dinosaurs and reach the escape vessel in time before an imminent asteroid strike threatens to destroy the planet.\",\"poster_path\":\"/rzRb63TldOKdKydCvWJM8B6EkPM.jpg\",\"media_type\":\"movie\",\"genre_ids\":[878,12,53,28],\"popularity\":1189.997,\"release_date\":\"2023-03-02\",\"video\":false,\"vote_average\":6.3,\"vote_count\":756},{\"adult\":false,\"backdrop_path\":\"/h8gHn0OzBoaefsYseUByqsmEDMY.jpg\",\"id\":603692,\"title\":\"John Wick: Chapter 4\",\"original_language\":\"en\",\"original_title\":\"John Wick: Chapter 4\",\"overview\":\"With the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.\",\"poster_path\":\"/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg\",\"media_type\":\"movie\",\"genre_ids\":[28,53,80],\"popularity\":1312.743,\"release_date\":\"2023-03-22\",\"video\":false,\"vote_average\":7.975,\"vote_count\":1207},{\"adult\":false,\"backdrop_path\":\"/pbMbDlOAkVuvnxovBA2ENin59xH.jpg\",\"id\":447277,\"title\":\"The Little Mermaid\",\"original_language\":\"en\",\"original_title\":\"The Little Mermaid\",\"overview\":\"The youngest of King Triton’s daughters, and the most defiant, Ariel longs to find out more about the world beyond the sea, and while visiting the surface, falls for the dashing Prince Eric. With mermaids forbidden to interact with humans, Ariel makes a deal with the evil sea witch, Ursula, which gives her a chance to experience life on land, but ultimately places her life – and her father’s crown – in jeopardy.\",\"poster_path\":\"/ym1dxyOk4jFcSl4Q2zmRrA5BEEN.jpg\",\"media_type\":\"movie\",\"genre_ids\":[12,10751,14,10749],\"popularity\":210.368,\"release_date\":\"2023-05-18\",\"video\":false,\"vote_average\":0.0,\"vote_count\":0},{\"adult\":false,\"backdrop_path\":\"/rH3jY9JN9krUyE0Q3WLNtujMs8.jpg\",\"id\":667538,\"title\":\"Transformers: Rise of the Beasts\",\"original_language\":\"en\",\"original_title\":\"Transformers: Rise of the Beasts\",\"overview\":\"A ‘90s globetrotting adventure that introduces the Maximals, Predacons, and Terrorcons to the existing battle on earth between Autobots and Decepticons.\",\"poster_path\":\"/g1HcrEiN0UiSpjQMJ3Klzw8KOZS.jpg\",\"media_type\":\"movie\",\"genre_ids\":[28,12,878],\"popularity\":161.222,\"release_date\":\"2023-06-07\",\"video\":false,\"vote_average\":0.0,\"vote_count\":0},{\"adult\":false,\"backdrop_path\":\"/ifUfE79O1raUwbaQRIB7XnFz5ZC.jpg\",\"id\":646385,\"title\":\"Scream\",\"original_language\":\"en\",\"original_title\":\"Scream\",\"overview\":\"Twenty-five years after a streak of brutal murders shocked the quiet town of Woodsboro, a new killer has donned the Ghostface mask and begins targeting a group of teenagers to resurrect secrets from the town’s deadly past.\",\"poster_path\":\"/4qIV5WXP1xQvpPAHmgVxCmxvPh6.jpg\",\"media_type\":\"movie\",\"genre_ids\":[27,9648,53],\"popularity\":373.035,\"release_date\":\"2022-01-12\",\"video\":false,\"vote_average\":6.737,\"vote_count\":2344},{\"adult\":false,\"backdrop_path\":\"/3GLrNvvkVJjBiffV8RsEh9Xg1eS.jpg\",\"id\":997776,\"title\":\"Justice League x RWBY: Super Heroes \\u0026 Huntsmen, Part One\",\"original_language\":\"en\",\"original_title\":\"Justice League x RWBY: Super Heroes \\u0026 Huntsmen, Part One\",\"overview\":\"Superman, Batman, Wonder Woman, Flash, Cyborg, Green Lantern and Vixen are transported to the strange world of Remnant and find themselves turned into teenagers. Meanwhile, Remnant heroes Ruby, Weiss, Blake and Yang must combine forces with the Justice League to uncover why their planet has been mysteriously altered before a superpowered Grimm destroys everything.\",\"poster_path\":\"/sjBFnG8DpouuWi161KbjbAER235.jpg\",\"media_type\":\"movie\",\"genre_ids\":[16,28,14],\"popularity\":107.913,\"release_date\":\"2023-04-25\",\"video\":false,\"vote_average\":8.238,\"vote_count\":21},{\"adult\":false,\"backdrop_path\":\"/z3Qc5a0grcCREAQKqI195P05dVf.jpg\",\"id\":813726,\"title\":\"A Tourist's Guide to Love\",\"original_language\":\"en\",\"original_title\":\"A Tourist's Guide to Love\",\"overview\":\"After an unexpected break up, a travel executive accepts an assignment to go undercover and learn about the tourist industry in Vietnam. Along the way, she finds adventure and romance with her Vietnamese expat tour guide and they decide to hijack the tour bus in order to explore life and love off the beaten path.\",\"poster_path\":\"/uWkpjbBe4gRZilXRXbYfsMUZMhz.jpg\",\"media_type\":\"movie\",\"genre_ids\":[10749,35,12],\"popularity\":275.635,\"release_date\":\"2023-04-21\",\"video\":false,\"vote_average\":6.603,\"vote_count\":39},{\"adult\":false,\"backdrop_path\":\"/vcNXzOfACCXZA7vb8SNde0LUC9o.jpg\",\"id\":1068141,\"title\":\"Mighty Morphin Power Rangers: Once \\u0026 Always\",\"original_language\":\"en\",\"original_title\":\"Mighty Morphin Power Rangers: Once \\u0026 Always\",\"overview\":\"After tragedy strikes, an unlikely young hero takes her rightful place among the Power Rangers to face off against the team's oldest archnemesis.\",\"poster_path\":\"/vc87upO8vcAGj9OmgH3AIz6ikKB.jpg\",\"media_type\":\"movie\",\"genre_ids\":[28,878,14],\"popularity\":238.666,\"release_date\":\"2023-04-19\",\"video\":false,\"vote_average\":6.931,\"vote_count\":131},{\"adult\":false,\"backdrop_path\":\"/dlrWhn0G3AtxYUx2D9P2bmzcsvF.jpg\",\"id\":536554,\"title\":\"M3GAN\",\"original_language\":\"en\",\"original_title\":\"M3GAN\",\"overview\":\"A brilliant toy company roboticist uses artificial intelligence to develop M3GAN, a life-like doll programmed to emotionally bond with her newly orphaned niece. But when the doll's programming works too well, she becomes overprotective of her new friend with terrifying results.\",\"poster_path\":\"/d9nBoowhjiiYc4FBNtQkPY7c11H.jpg\",\"media_type\":\"movie\",\"genre_ids\":[878,27,35],\"popularity\":724.995,\"release_date\":\"2022-12-28\",\"video\":false,\"vote_average\":7.367,\"vote_count\":2426},{\"adult\":false,\"backdrop_path\":\"/xEn2SqJQ2uBAxSBfrcAqgiFDQCa.jpg\",\"id\":944152,\"title\":\"Chokehold\",\"original_language\":\"tr\",\"original_title\":\"Boğa Boğa\",\"overview\":\"Evading a scandal, a couple from Istanbul starts over in a town on the Aegean coast — but quickly discover the locals are determined to get rid of them.\",\"poster_path\":\"/bW7NgAKpP24skkTjmJxNYWjOwdj.jpg\",\"media_type\":\"movie\",\"genre_ids\":[53,18],\"popularity\":246.108,\"release_date\":\"2023-04-21\",\"video\":false,\"vote_average\":5.6,\"vote_count\":15}],\"total_pages\":1000,\"total_results\":20000}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adult": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "backdrop_path": {
                            "type": "string",
                            "example": "/44immBwzhDVyjn87b3x3l9mlhAD.jpg"
                          },
                          "id": {
                            "type": "integer",
                            "example": 934433,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Scream VI"
                          },
                          "original_language": {
                            "type": "string",
                            "example": "en"
                          },
                          "original_title": {
                            "type": "string",
                            "example": "Scream VI"
                          },
                          "overview": {
                            "type": "string",
                            "example": "Following the latest Ghostface killings, the four survivors leave Woodsboro behind and start a fresh chapter."
                          },
                          "poster_path": {
                            "type": "string",
                            "example": "/wDWwtvkRRlgTiUr6TyLSMX8FCuZ.jpg"
                          },
                          "media_type": {
                            "type": "string",
                            "example": "movie"
                          },
                          "genre_ids": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "example": 27,
                              "default": 0
                            }
                          },
                          "popularity": {
                            "type": "number",
                            "example": 609.941,
                            "default": 0
                          },
                          "release_date": {
                            "type": "string",
                            "example": "2023-03-08"
                          },
                          "video": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "vote_average": {
                            "type": "number",
                            "example": 7.374,
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "example": 684,
                            "default": 0
                          }
                        }
                      }
                    },
                    "total_pages": {
                      "type": "integer",
                      "example": 1000,
                      "default": 0
                    },
                    "total_results": {
                      "type": "integer",
                      "example": 20000,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/trending/tv/{time_window}": {
      "get": {
        "summary": "TV",
        "description": "Get the trending TV shows on TMDB.",
        "operationId": "trending-tv",
        "parameters": [
          {
            "name": "time_window",
            "in": "path",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week"
              ],
              "default": "day"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "description": "`ISO-639-1`-`ISO-3166-1` code",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/8P15FsYcTwQZ4G5rRMd1TKD14Aq.jpg\",\"id\":103768,\"name\":\"Sweet Tooth\",\"original_language\":\"en\",\"original_name\":\"Sweet Tooth\",\"overview\":\"On a perilous adventure across a post-apocalyptic world, a lovable boy who's half-human and half-deer searches for a new beginning with a gruff protector.\",\"poster_path\":\"/dBxxtfhC4vYrxB2fLsSxOTY2dQc.jpg\",\"media_type\":\"tv\",\"genre_ids\":[18,10765],\"popularity\":137.498,\"first_air_date\":\"2021-06-04\",\"vote_average\":7.928,\"vote_count\":1094,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/pGtvfzfIRCsiudAWlzlGZ74co5l.jpg\",\"id\":124800,\"name\":\"Love \\u0026 Death\",\"original_language\":\"en\",\"original_name\":\"Love \\u0026 Death\",\"overview\":\"The true story of Candy and Pat Montgomery and Betty and Allan Gore – two churchgoing couples enjoying their small town Texas life… until an extramarital affair leads somebody to pick up an axe.\",\"poster_path\":\"/8WchbT0UPQeo3PZ6G01fhccYaQB.jpg\",\"media_type\":\"tv\",\"genre_ids\":[80,18],\"popularity\":72.051,\"first_air_date\":\"2023-04-27\",\"vote_average\":7.2,\"vote_count\":4,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/zE9jOFPFCz30cFY606KdhHQbPhI.jpg\",\"id\":221802,\"name\":\"The Nurse\",\"original_language\":\"da\",\"original_name\":\"Sygeplejersken\",\"overview\":\"Pernille Kurzmann Larsen, a fresh-faced nurse at a hospital, begins to question the attention-seeking tendencies of her colleague, Christina Aistrup Hansen. As Pernille delves deeper into her suspicions, she starts to believe that Christina's behavior may be linked to a series of patient deaths.\",\"poster_path\":\"/zroHjvuzScGWfNKpqBPuCDuYZnh.jpg\",\"media_type\":\"tv\",\"genre_ids\":[80,18],\"popularity\":33.958,\"first_air_date\":\"2023-04-27\",\"vote_average\":6.0,\"vote_count\":3,\"origin_country\":[\"DK\"]},{\"adult\":false,\"backdrop_path\":\"/oSXHFbQN7QPE3WYlGm3rdNB3Qju.jpg\",\"id\":218194,\"name\":\"Saint X\",\"original_language\":\"en\",\"original_name\":\"Saint X\",\"overview\":\"A young woman's mysterious death during an idyllic Caribbean vacation creates a traumatic ripple effect that eventually pulls her surviving sister into a dangerous pursuit of the truth.\",\"poster_path\":\"/wViKoQ7njLujruFWBMY5NUzj7EV.jpg\",\"media_type\":\"tv\",\"genre_ids\":[80,18,9648],\"popularity\":41.296,\"first_air_date\":\"2023-04-26\",\"vote_average\":9.0,\"vote_count\":4,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/6Lw54zxm6BAEKJeGlabyzzR5Juu.jpg\",\"id\":82856,\"name\":\"The Mandalorian\",\"original_language\":\"en\",\"original_name\":\"The Mandalorian\",\"overview\":\"After the fall of the Galactic Empire, lawlessness has spread throughout the galaxy. A lone gunfighter makes his way through the outer reaches, earning his keep as a bounty hunter.\",\"poster_path\":\"/eU1i6eHXlzMOlEq0ku1Rzq7Y4wA.jpg\",\"media_type\":\"tv\",\"genre_ids\":[10765,10759,18],\"popularity\":1007.844,\"first_air_date\":\"2019-11-12\",\"vote_average\":8.481,\"vote_count\":8899,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/nTvM4mhqNlHIvUkI1gVnW6XP7GG.jpg\",\"id\":85937,\"name\":\"Demon Slayer: Kimetsu no Yaiba\",\"original_language\":\"ja\",\"original_name\":\"鬼滅の刃\",\"overview\":\"It is the Taisho Period in Japan. Tanjiro, a kindhearted boy who sells charcoal for a living, finds his family slaughtered by a demon. To make matters worse, his younger sister Nezuko, the sole survivor, has been transformed into a demon herself. Though devastated by this grim reality, Tanjiro resolves to become a “demon slayer” so that he can turn his sister back into a human, and kill the demon that massacred his family.\",\"poster_path\":\"/xUfRZu2mi8jH6SzQEJGP6tjBuYj.jpg\",\"media_type\":\"tv\",\"genre_ids\":[16,10759,10765],\"popularity\":297.901,\"first_air_date\":\"2019-04-06\",\"vote_average\":8.699,\"vote_count\":5093,\"origin_country\":[\"JP\"]},{\"adult\":false,\"backdrop_path\":\"/euzOZte7gh2MvocsMbQlv0IoKFI.jpg\",\"id\":203857,\"name\":\"The Diplomat\",\"original_language\":\"en\",\"original_name\":\"The Diplomat\",\"overview\":\"In the midst of an international crisis, a career diplomat lands in a high-profile job she’s unsuited for, with tectonic implications for her marriage and her political future.\",\"poster_path\":\"/cOKXV0FalCYixNmZYCfHXgyQ0VX.jpg\",\"media_type\":\"tv\",\"genre_ids\":[18],\"popularity\":147.797,\"first_air_date\":\"2023-04-20\",\"vote_average\":7.455,\"vote_count\":44,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/tTpNW3zAYl37iKSheYSLgXBled1.jpg\",\"id\":130987,\"name\":\"Dead Ringers\",\"original_language\":\"en\",\"original_name\":\"Dead Ringers\",\"overview\":\"Elliot and Beverly Mantle are twins who share everything: drugs, lovers, and an unapologetic desire to do whatever it takes — including pushing the boundaries on medical ethics — in an effort to challenge antiquated practices and bring women’s healthcare to the forefront.\",\"poster_path\":\"/3GZB7pnyAw6QV053TwxiqvRyOw3.jpg\",\"media_type\":\"tv\",\"genre_ids\":[9648,18],\"popularity\":107.813,\"first_air_date\":\"2023-04-20\",\"vote_average\":7.6,\"vote_count\":22,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/q3UGWifvIpdey1T2efX4dSmbZpU.jpg\",\"id\":124364,\"name\":\"From\",\"original_language\":\"en\",\"original_name\":\"From\",\"overview\":\"Unravel the mystery of a nightmarish town in middle America that traps all those who enter. As the unwilling residents fight to keep a sense of normalcy and search for a way out, they must also survive the threats of the surrounding forest – including the terrifying creatures that come out when the sun goes down.\",\"poster_path\":\"/uV65yaFkw6B4KHXAsBYui0KvJq.jpg\",\"media_type\":\"tv\",\"genre_ids\":[9648,18,10765],\"popularity\":338.241,\"first_air_date\":\"2022-02-20\",\"vote_average\":8.23,\"vote_count\":287,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/zbghLmdhWPYc77q465IzfajC2ZX.jpg\",\"id\":214999,\"name\":\"The Good Bad Mother\",\"original_language\":\"ko\",\"original_name\":\"나쁜 엄마\",\"overview\":\"A tragic accident leaves an ambitious prosecutor with the mind of a child — forcing him and his mother to embark on a journey to heal their relationship.\",\"poster_path\":\"/o8h8BJz85BNI6g6ty47jbpEDAiK.jpg\",\"media_type\":\"tv\",\"genre_ids\":[18,35],\"popularity\":38.238,\"first_air_date\":\"2023-04-26\",\"vote_average\":10.0,\"vote_count\":1,\"origin_country\":[\"KR\"]},{\"adult\":false,\"backdrop_path\":\"/iluTG3UT2f0guDZR6GNAvYUKZvq.jpg\",\"id\":220372,\"name\":\"Sam: A Saxon\",\"original_language\":\"de\",\"original_name\":\"Sam - Ein Sachse\",\"overview\":\"Based on the true story of Sam Meffire’s rise and fall in East Germany, this miniseries follows Sam’s desperate search for a place he can call home, as he fights for recognition and justice. Sam goes from being the first Black cop in the GDR to media celebrity, and finally a criminal in the wild years following German reunification.\",\"poster_path\":\"/zUnor1KuGGtQfa4bAKGympgy7fK.jpg\",\"media_type\":\"tv\",\"genre_ids\":[18],\"popularity\":37.888,\"first_air_date\":\"2023-04-26\",\"vote_average\":7.0,\"vote_count\":1,\"origin_country\":[\"DE\"]},{\"adult\":false,\"backdrop_path\":\"/nA2sIDVxE6kcCPND0l5leTdodI5.jpg\",\"id\":197548,\"name\":\"Mrs. Davis\",\"original_language\":\"en\",\"original_name\":\"Mrs. Davis\",\"overview\":\"Sister Simone partners with her ex-boyfriend on a globe-spanning journey to destroy Mrs. Davis, a powerful artificial intelligence.\",\"poster_path\":\"/tMr3mFACLuL4J7AEj8yDwcf5rnr.jpg\",\"media_type\":\"tv\",\"genre_ids\":[35,18,10765],\"popularity\":158.911,\"first_air_date\":\"2023-04-20\",\"vote_average\":7.2,\"vote_count\":15,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/qA37cB9PdiOrCmECXjQXy0ip23x.jpg\",\"id\":225008,\"name\":\"The Long Season\",\"original_language\":\"zh\",\"original_name\":\"漫长的季节\",\"overview\":\"\",\"poster_path\":\"/rM5Y0ziZbmpkqW1db2HK3xrzTXj.jpg\",\"media_type\":\"tv\",\"genre_ids\":[18,10751,80],\"popularity\":7.531,\"first_air_date\":\"2023-04-22\",\"vote_average\":10.0,\"vote_count\":2,\"origin_country\":[\"CN\"]},{\"adult\":false,\"backdrop_path\":\"/wImNeqxKsqmJ5OBw8j3I37GNFN3.jpg\",\"id\":97546,\"name\":\"Ted Lasso\",\"original_language\":\"en\",\"original_name\":\"Ted Lasso\",\"overview\":\"Ted Lasso, an American football coach, moves to England when he’s hired to manage a soccer team—despite having no experience. With cynical players and a doubtful town, will he get them to see the Ted Lasso Way?\",\"poster_path\":\"/5fhZdwP1DVJ0FyVH6vrFdHwpXIn.jpg\",\"media_type\":\"tv\",\"genre_ids\":[35,18],\"popularity\":303.369,\"first_air_date\":\"2020-08-14\",\"vote_average\":8.492,\"vote_count\":970,\"origin_country\":[\"GB\"]},{\"adult\":false,\"backdrop_path\":\"/gFkHcIh7iE5G0oVOgpmY8ONQjhl.jpg\",\"id\":60735,\"name\":\"The Flash\",\"original_language\":\"en\",\"original_name\":\"The Flash\",\"overview\":\"After a particle accelerator causes a freak storm, CSI Investigator Barry Allen is struck by lightning and falls into a coma. Months later he awakens with the power of super speed, granting him the ability to move through Central City like an unseen guardian angel. Though initially excited by his newfound powers, Barry is shocked to discover he is not the only \\\"meta-human\\\" who was created in the wake of the accelerator explosion -- and not everyone is using their new powers for good. Barry partners with S.T.A.R. Labs and dedicates his life to protect the innocent. For now, only a few close friends and associates know that Barry is literally the fastest man alive, but it won't be long before the world learns what Barry Allen has become...The Flash.\",\"poster_path\":\"/rg8N7x27Ef6PvlIiioLStf9ZaIO.jpg\",\"media_type\":\"tv\",\"genre_ids\":[18,10765],\"popularity\":481.734,\"first_air_date\":\"2014-10-07\",\"vote_average\":7.798,\"vote_count\":10366,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/xpdw7ogSIMH1Wmnbx4irH3wimFP.jpg\",\"id\":42009,\"name\":\"Black Mirror\",\"original_language\":\"en\",\"original_name\":\"Black Mirror\",\"overview\":\"A contemporary British re-working of The Twilight Zone with stories that tap into the collective unease about our modern world. \\n\\nOver the last ten years, technology has transformed almost every aspect of our lives before we've had time to stop and question it. In every home; on every desk; in every palm - a plasma screen; a monitor; a smartphone - a black mirror of our 21st Century existence.\",\"poster_path\":\"/7PRddO7z7mcPi21nZTCMGShAyy1.jpg\",\"media_type\":\"tv\",\"genre_ids\":[10765,18,9648],\"popularity\":183.377,\"first_air_date\":\"2011-12-04\",\"vote_average\":8.317,\"vote_count\":3951,\"origin_country\":[\"GB\"]},{\"adult\":false,\"backdrop_path\":\"/s76eYQi6hcAcOVYpVd9hofdyt11.jpg\",\"id\":203737,\"name\":\"Oshi no Ko\",\"original_language\":\"ja\",\"original_name\":\"【推しの子】\",\"overview\":\"Dr. Goro is reborn as the son of the young starlet Ai Hoshino after her delusional stalker murders him. Now, he wants to help his new mother rise to the top, but what can a child do about the dark underbelly of the entertainment industry?\",\"poster_path\":\"/rFp74PFpz14AHrtlVPrLyrSng47.jpg\",\"media_type\":\"tv\",\"genre_ids\":[16,18],\"popularity\":165.164,\"first_air_date\":\"2023-04-12\",\"vote_average\":8.7,\"vote_count\":12,\"origin_country\":[\"JP\"]},{\"adult\":false,\"backdrop_path\":\"/a6ptrTUH1c5OdWanjyYtAkOuYD0.jpg\",\"id\":37854,\"name\":\"One Piece\",\"original_language\":\"ja\",\"original_name\":\"ワンピース\",\"overview\":\"Years ago, the fearsome Pirate King, Gol D. Roger was executed leaving a huge pile of treasure and the famous \\\"One Piece\\\" behind. Whoever claims the \\\"One Piece\\\" will be named the new King of the Pirates.\\n\\nMonkey D. Luffy, a boy who consumed a \\\"Devil Fruit,\\\" decides to follow in the footsteps of his idol, the pirate Shanks, and find the One Piece. It helps, of course, that his body has the properties of rubber and that he's surrounded by a bevy of skilled fighters and thieves to help him along the way.\\n\\nLuffy will do anything to get the One Piece and become King of the Pirates!\",\"poster_path\":\"/e3NBGiAifW9Xt8xD5tpARskjccO.jpg\",\"media_type\":\"tv\",\"genre_ids\":[10759,35,16],\"popularity\":106.382,\"first_air_date\":\"1999-10-20\",\"vote_average\":8.7,\"vote_count\":3709,\"origin_country\":[\"JP\"]},{\"adult\":false,\"backdrop_path\":\"/2HNbarpx0odHmPFh8A4ZPTxhend.jpg\",\"id\":76331,\"name\":\"Succession\",\"original_language\":\"en\",\"original_name\":\"Succession\",\"overview\":\"Follow the lives of the Roy family as they contemplate their future once their aging father begins to step back from the media and entertainment conglomerate they control.\",\"poster_path\":\"/7HW47XbkNQ5fiwQFYGWdw9gs144.jpg\",\"media_type\":\"tv\",\"genre_ids\":[18],\"popularity\":178.068,\"first_air_date\":\"2018-06-03\",\"vote_average\":8.175,\"vote_count\":599,\"origin_country\":[\"US\"]},{\"adult\":false,\"backdrop_path\":\"/jBJWaqoSCiARWtfV0GlqHrcdidd.jpg\",\"id\":71912,\"name\":\"The Witcher\",\"original_language\":\"en\",\"original_name\":\"The Witcher\",\"overview\":\"Geralt of Rivia, a mutated monster-hunter for hire, journeys toward his destiny in a turbulent world where people often prove more wicked than beasts.\",\"poster_path\":\"/7vjaCdMw15FEbXyLQTVa04URsPm.jpg\",\"media_type\":\"tv\",\"genre_ids\":[18,10759,10765],\"popularity\":214.563,\"first_air_date\":\"2019-12-20\",\"vote_average\":8.174,\"vote_count\":4618,\"origin_country\":[\"US\"]}],\"total_pages\":1000,\"total_results\":20000}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adult": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "backdrop_path": {
                            "type": "string",
                            "example": "/8P15FsYcTwQZ4G5rRMd1TKD14Aq.jpg"
                          },
                          "id": {
                            "type": "integer",
                            "example": 103768,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "Sweet Tooth"
                          },
                          "original_language": {
                            "type": "string",
                            "example": "en"
                          },
                          "original_name": {
                            "type": "string",
                            "example": "Sweet Tooth"
                          },
                          "overview": {
                            "type": "string",
                            "example": "On a perilous adventure across a post-apocalyptic world, a lovable boy who's half-human and half-deer searches for a new beginning with a gruff protector."
                          },
                          "poster_path": {
                            "type": "string",
                            "example": "/dBxxtfhC4vYrxB2fLsSxOTY2dQc.jpg"
                          },
                          "media_type": {
                            "type": "string",
                            "example": "tv"
                          },
                          "genre_ids": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "example": 18,
                              "default": 0
                            }
                          },
                          "popularity": {
                            "type": "number",
                            "example": 137.498,
                            "default": 0
                          },
                          "first_air_date": {
                            "type": "string",
                            "example": "2021-06-04"
                          },
                          "vote_average": {
                            "type": "number",
                            "example": 7.928,
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "example": 1094,
                            "default": 0
                          },
                          "origin_country": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "US"
                            }
                          }
                        }
                      }
                    },
                    "total_pages": {
                      "type": "integer",
                      "example": 1000,
                      "default": 0
                    },
                    "total_results": {
                      "type": "integer",
                      "example": 20000,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/movie/{movie_id}/account_states": {
      "get": {
        "summary": "Account States",
        "description": "Get the rating, watchlist and favourite status of an account.",
        "operationId": "movie-account-states",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guest_session_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"id\":550,\"favorite\":true,\"rated\":{\"value\":9.0},\"watchlist\":false}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 550,
                      "default": 0
                    },
                    "favorite": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "rated": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "integer",
                          "example": 9,
                          "default": 0
                        }
                      }
                    },
[...]
